{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4>{{ interesting_terms.0.term }}</h4>

{% for term in interesting_terms %}
    <p>{{ term.term }}</p>
    <p>{{ term.total_term_count }}</p>
    <p>{{ term.term_in_documents.0 }}</p>
    <p>{{ term.term_in_sentences.0 }}</p>
{% endfor %}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
