{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/term_table.css' %}" />

<div class="jumbotron">
    <h1>{{ title }}.</h1>
    <p class="lead">A text corpus is analysed and interesting words are displayed</p>
</div>

<table>
  <tr>
    <th>Word (Total Occurrences)</th>
    <th>Documents</th>
    <th>Sentences Containing the Word</th>
  </tr>
{% for term in interesting_terms %}
  <tr>
    <td>{{ term.term }} ({{ term.total_term_count }})</td>
    <td>
        {% for term_in_doc in term.term_in_documents %}
            <p>{{ term_in_doc }}</p>
        {% endfor %}
    </td>
    <td>
        <p>{{ term.term_in_sentences.0 }}</p>
        <p>{{ term.term_in_sentences.1 }}</p>
        <p>{{ term.term_in_sentences.2 }}</p>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
